## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
# Your code here
sample_list_1=random.sample(range(0,100),80)
print(sample_list_1)
len(sample_list_1)

[60, 11, 61, 41, 23, 64, 48, 80, 90, 39, 9, 57, 38, 91, 25, 97, 42, 94, 32, 4, 17, 68, 75, 49, 8, 87, 71, 84, 79, 15, 93, 99, 28, 82, 50, 51, 5, 46, 13, 78, 72, 76, 0, 52, 63, 26, 33, 88, 58, 54, 47, 81, 36, 20, 56, 55, 98, 70, 2, 22, 45, 62, 12, 37, 65, 69, 73, 53, 29, 35, 96, 77, 27, 21, 31, 89, 34, 30, 59, 6]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [80]:
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
sample_list_2=[]
for i in range (0,80):
    n=random.randint(1,180)
    sample_list_2.append(n)
print(sample_list_2)

[169, 77, 36, 30, 19, 167, 127, 13, 121, 143, 16, 43, 125, 76, 55, 130, 56, 20, 131, 109, 14, 133, 9, 71, 3, 121, 38, 127, 113, 129, 90, 164, 27, 145, 73, 49, 58, 82, 139, 55, 172, 89, 6, 148, 24, 142, 8, 148, 97, 80, 113, 89, 151, 4, 98, 98, 56, 180, 35, 114, 164, 104, 179, 30, 6, 121, 88, 86, 26, 71, 156, 147, 160, 164, 156, 149, 110, 144, 166, 69]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here
set2=set(sample_list_2)
len(set2)

65

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [32]:
# Your code here
set3=set()
for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

{0, 2, 5, 11, 12, 15, 17, 21, 22, 23, 25, 28, 29, 31, 32, 33, 34, 37, 39, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 57, 59, 60, 61, 62, 63, 64, 65, 68, 70, 72, 75, 78, 79, 81, 84, 87, 91, 93, 94, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [33]:
# Your code here
set4=set()
for i in set2:
    if i not in set1:
        set4.add(i)
print(set4)

{129, 130, 3, 131, 133, 139, 14, 143, 16, 145, 142, 19, 148, 147, 149, 151, 24, 144, 156, 160, 164, 166, 167, 169, 43, 172, 179, 180, 86, 104, 109, 110, 113, 114, 121, 125, 127}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{4, 6, 8, 9, 13, 20, 26, 27, 30, 35, 36, 38, 49, 55, 56, 58, 69, 71, 73, 76, 77, 80, 82, 88, 89, 90, 97, 98}

In [35]:
type(set1)

set

In [36]:
type(set2)

set

In [54]:
type(set5)

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [55]:
type(set3)

set

In [37]:
# Your code here
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

28

In [48]:
set5.add(1300)

#### Create an empty set called `set6`.

In [57]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [60]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99, 1300}

In [51]:
print(set3)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 1300, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

In [52]:
print(set5)

{4, 6, 8, 9, 13, 20, 1300, 26, 27, 30, 35, 36, 38, 49, 55, 56, 58, 69, 71, 73, 76, 77, 80, 82, 88, 89, 90, 97, 98}

#### Check if `set1` and `set6` are equal.

In [62]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [63]:
set1.issubset(set2)

False

In [64]:
set1.issubset(set3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [66]:
set3.union(set4)
set3.union(set5)
print(set3)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 1300, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

In [67]:
set1.union(set2)
print(set1)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99, 1300}

In [68]:
set1==set3

True

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
# Your code here
set1.pop()
print(set1)

{4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99, 1300}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [85]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove=set(list_to_remove)
set1 = set1.difference(set_remove)

print(set1)

{0, 2, 4, 5, 6, 8, 12, 13, 15, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 87, 88, 90, 93, 94, 96, 97, 98}

In [84]:
print(set_remove)
type(set_remove)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

set

In [73]:
type(set_remove)

set

In [82]:
print(set1)

{0, 2, 4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}