## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [1]:

# your answer here
import pandas as pd 
import numpy as np 
from scipy.stats import poisson
from scipy.stats import chisquare
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.DataFrame({'Number of scores' : [0,1,2,3,4,5,6,7], 'Number of times': [35,99,104,110,62,25,10,3]})

In [3]:
mu=2.435
alpha=0.05
score = [0,1,2,3,4,5,6,7]
frequency= [35,99,104,110,62,25,10,3]

In [4]:
expected_freq = []
for i in range(len(frequency)):
    e_freq=data1['Number of times'].sum()*poisson.pmf(i,mu)
    expected_freq.append(e_freq)

In [6]:
for i in range(len(frequency)-1):
    print(poisson.pmf(i,mu))

0.08759774704805763
0.21330051406202033
0.2596933758705097
0.21078445674823038
0.12831503804548525
0.06248942352815135
0.025360291048508066

In [9]:
expected_freq
data1['expected']=expected_freq
data1

   Number of scores  Number of times    expected
0                 0               35   39.243791
1                 1               99   95.558630
2                 2              104  116.342632
3                 3              110   94.431437
4                 4               62   57.485137
5                 5               25   27.995262
6                 6               10   11.361410
7                 7                3    3.952148

In [11]:
n_score = data1['Number of times'].sum()
n_score

448

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

In [12]:
data2 = pd.DataFrame({'SAT scores' : [852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]})
data2

    SAT scores
0          852
1          875
2          910
3          933
4          957
5          963
6          981
7          998
8         1010
9         1015
10        1018
11        1023
12        1035
13        1048
14        1063

In [13]:
sat_mean = data2['SAT scores'].mean()
sat_stdv = data2['SAT scores'].std()
mean = 985
std = 50

In [14]:
print(sat_mean, sat_stdv)

978.7333333333333 63.0152664798286

In [15]:
from scipy.stats import norm
x=1/3 #for 3 equal probability intervals

prob_intervals = [norm.ppf(j*x, mean, std) for j in range(1,3)]
prob_intervals

[963.4636350352271, 1006.5363649647729]

In [17]:
expected_freq = [5,5,5]

obsr_freq = [6,2,7]

chisquare(obsr_freq, expected_freq)

Power_divergenceResult(statistic=2.8, pvalue=0.24659696394160646)

In [18]:
#p-value is above 0.05 thus the H0 hypothesis cannot be rejected which means that the sat results follow normal distribution from last year

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

In [20]:
# your code here
data3 = pd.DataFrame({'defects': [0,1,2,3,4], 'freq' : [32,15,0,9,4]})
total_defects = 0*32 + 1*15 +2*0 +3*9 +4*4
total_defects
total_n = 60
mu = total_defects / total_n
freq = data3.freq

In [21]:
probs = [poisson.pmf(i, mu) for i in range(len(freq) - 1)]
probs.append(1 - sum(probs))

In [22]:
expected_freq = [elem*total_n for elem in probs]
expected_freq

[22.820925395355513,
 22.060227882176992,
 10.66244347638555,
 3.435676231279788,
 1.020727014802154]

In [23]:
chisquare(freq, expected_freq)

Power_divergenceResult(statistic=34.32169618960069, pvalue=6.401393042020276e-07)

In [ ]:
# p-value is lower than 0.05 thus given dataset doesn't follow poisson distribution

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [24]:
# your answer here
from scipy.stats import binom
n=10
p=0.05
k=0.05*200
result = binom.pmf(k=k ,n=n, p=p)

In [ ]:
sample= np.random.binomial(n=10,p=0.05, size=200)
sample

In [26]:
results = []
for i in range(100):
    results.append(1-sum(np.random.binomial(10, 0.05, 200) == 0)/200)

In [27]:
np.mean(results)

0.4016

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [28]:
#your answer here
import scipy
observed = np.array([[32, 14, 6], [12, 22, 9]])
scipy.stats.chi2_contingency(observed)

(10.712198008709638,
 0.004719280137040844,
 2,
 array([[24.08421053, 19.70526316,  8.21052632],
        [19.91578947, 16.29473684,  6.78947368]]))

In [ ]:
#p is equal to 0.00471928 which is lower than 0.05 thus we can reject null hypothesis of idependence